.project-section{
    padding: 5px 0;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background: var(--primary);
}
.project-section .grid{
    padding: 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
   
}
.project-section .grid img{
    width: 80%;
    border-radius:5px;
}
.project-section .text {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: center;
}
.project-section .text h3{
    margin-top: 15px ;
    font-size: 1.5rem;
    text-decoration: overline;
    color: #ff7f50;
}
.project-section .grid .project-container{
    background: var(--white);
    padding: 10px;
    border-radius: 15px;
    width: 95%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
}
.project-container h4{
    margin: 10px 0;
    color: #ff7f50;
    
}
.project-container p{
    margin: 20px 0;
    color: darkslategray;
}
.project-container a{
    text-decoration: none;
    color: var(--primary);
    
    font-size: 1.2rem;
    margin: 15px;
    display: flex;
    gap: 2px;
}

.project-container .github{
    float: right;
}
.project-container .preview {
    float: left;
}
@media screen and (max-width:1000px) {
    .project-section .grid{
       
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:600px) {
    .project-section .grid {
        grid-template-columns: 1fr;
    }
}