@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Charmonman:wght@700&family=Cormorant+Garamond&family=Monoton&family=Monsieur+La+Doulaise&family=Romanesco&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Charmonman:wght@700&family=Cormorant+Garamond&family=Monoton&family=Monsieur+La+Doulaise&family=Montez&family=Moon+Dance&family=Romanesco&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Charmonman:wght@700&family=Cormorant+Garamond&family=Monoton&family=Monsieur+La+Doulaise&family=Montez&family=Romanesco&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Charmonman:wght@700&family=Cormorant+Garamond&family=Monoton&family=Monsieur+La+Doulaise&family=Montez&family=Romanesco&family=Sofia+Sans+Condensed:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&display=swap');
:root {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #00263E;
  --white: #ffffff;
  --black: #000000;
}
section{
  background: linear-gradient(to left, rgba(44, 43, 43, 0.5), rgba(238, 238, 238, 0.5)), url("../src/assets/img/ZO.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  transition: all 1s ease-in-out;
  text-transform: capitalize;
}